@import url("components/banner.css");
@import url("components/map.css");
@import url("components/fa_icons.css");
@import url("components/contact_card.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/background_video.css");
@import url("components/custom_card.css");
@import url("components/custom_collection.css");
@import url("components/customized_form.css");


/*p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size:20;
}
*/
.wrapper{
  background-size: cover;
  padding: 40px;
  min-height: 100vh;
}

.wrapper_logistic{
  background-size: cover;
  padding: 30px;
}

#mymap{
  background-color: white;
}

#agenda{
  background-image:url("../images/arabesque_blue.png");
  color: white;
}

#agenda span{
  color:#ED4C4B;
}

#agenda h2{
  color:#ED4C4B;
}

#agenda h2 .fa{
  color:white;
}



#logistic{
  background-image:url("../images/corrugation_pink.png");
  color:white;
}

#logistic .title span{
  color: #16394F;
}

#presents_list{
  background-color: #ACD1E0;
}

#presents_list .title{
  color:white;
}

#presents_list .title span{
  color:#16394F;
}

#presents_list p{
  color:#16394F;
  font-size: 20px;
}

.presents_content{
  margin-top: 10vh;
}

#infos{
  background-image:url("../images/carbon-fibre-1920x1080.png");
  color:white;
}

#infos .title span{
  color: #ED4C4B;
}

.title{
  font-family: 'Raleway';
  font-size:6vw;
  font-weight: bold;
}

.accomodation_types{
  font-family:'Architects Daughter', cursive;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

.taxi{
  text-align: center;
}

.babysitting{
  text-align: center;
}
/* Google fonts

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Amatic SC', cursive;
 */

/* Wedding  Colors
Pink = #ED4C4B
Blue = #16394F
*/
